.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 20px;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #F2F4F7;
  border-top-color: #E44848;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loaderText {
  font-size: 18px;
  font-weight: 500;
  color: #475467;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}